
.Loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.5);
}
.loader {
    height: 50px;
    width: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-right: 5px solid transparent ;
    animation: loader 1s linear infinite;
}
@keyframes loader{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg) ;

    }
}

